/* Variables */
:root {

    /* Colors */
    --main-color:white;

    --secondary-color:#ED2468;

    --text-box-color:rgba(0, 0, 0,.025);

    --default-text-color:rgb(0,0,0);
    --hero-text-color:rgb(255, 255, 255);

    --button-hover-color:rgb(222, 222, 222);

    /* Text Scale */
    --base-size: 1rem;
    --type-scale: 1.3;
    --mobile-scale: .85;

    --h5:calc(var(--base-size) * var(--type-scale));
    --h4:calc(var(--h5) * var(--type-scale));
    --h3:calc(var(--h4) * var(--type-scale));
    --h2:calc(var(--h3) * var(--type-scale));
    --h1:calc(var(--h2) * var(--type-scale));

    --mobile-h5:calc(var(--base-size) * var(--mobile-scale));
    --mobile-h4:calc(var(--h5) * var(--mobile-scale));
    --mobile-h3:calc(var(--h4) * var(--mobile-scale));
    --mobile-h2:calc(var(--h3) * var(--mobile-scale));
    --mobile-h1:calc(var(--h2) * var(--mobile-scale));

}
/* Fonts */

/* CSS Animations */

@keyframes GlorbalSpawn {
    
    0% {opacity: 0;transform: scale(0);}
    100% {opacity: 1;transform: scale(1);}

}

@keyframes GlorbalDeSpawn {
    
    70% {opacity: 1;transform: scale(1);}
    100% {opacity: 0;transform: scale(0);}

}

@keyframes GlorbalShockwave{
    
    0% {opacity: 1; transform: scale(0);}
    100% {opacity: 0;transform: scale(1.5);}

}

@keyframes NotificationFadeOut{
    
    80% {opacity: 1;}
    100% {opacity: 0;}

}

@keyframes NotificationFadeIn{
    
    0% {bottom: -200px;}
    100% {bottom: 0px;}

}

@keyframes fallingImage {
    
    0%{transform:translate3d(0px,0px,0px);}

    100%{transform:translate3d(0px,200px,0px) rotate(90deg) scale(.7);opacity: 0;}

}

/* Glorbal Idle Animations */

@keyframes ShinyGlorbalIdle {
    
    0% {background-image: url(../images/Glorbals/Shiny/Shiny_1.png);}
    50% {background-image: url(../images/Glorbals/Shiny/Shiny_2.png);}
    100% {background-image: url(../images/Glorbals/Shiny/Shiny_1.png);}

}

@keyframes SleepingGlorbalIdle {
    
    0% {background-image: url(../images/Glorbals/Sleeping/Sleeping_1.png);}
    10% {background-image: url(../images/Glorbals/Sleeping/Sleeping_2.png);}
    20% {background-image: url(../images/Glorbals/Sleeping/Sleeping_3.png);}
    30% {background-image: url(../images/Glorbals/Sleeping/Sleeping_4.png);}
    40% {background-image: url(../images/Glorbals/Sleeping/Sleeping_3.png);}
    50% {background-image: url(../images/Glorbals/Sleeping/Sleeping_2.png);}
    100% {background-image: url(../images/Glorbals/Sleeping/Sleeping_1.png);}

}

@keyframes BlueGlorbalIdle {
    
    0% {background-image: url(../images/Glorbals/Blue/Blue_1.png);}
    50% {background-image: url(../images/Glorbals/Blue/Blue_2.png);}
    100% {background-image: url(../images/Glorbals/Blue/Blue_1.png);}

}

@keyframes YellowGlorbalIdle {
    
    0% {background-image: url(../images/Glorbals/Yellow/Yellow_1.png);}
    50% {background-image: url(../images/Glorbals/Yellow/Yellow_2.png);}
    100% {background-image: url(../images/Glorbals/Yellow/Yellow_1.png);}

}

@keyframes PurpleGlorbalIdle {
    
    0% {background-image: url(../images/Glorbals/Purple/Purple_1.png);}
    25% {background-image: url(../images/Glorbals/Purple/Purple_2.png);}
    50% {background-image: url(../images/Glorbals/Purple/Purple_3.png);}
    75% {background-image: url(../images/Glorbals/Purple/Purple_2.png);}
    100% {background-image: url(../images/Glorbals/Purple/Purple_1.png);}

}

@keyframes PinkGlorbalIdle {
    
    0% {background-image: url(../images/Glorbals/Pink/Pink_1.png);}
    50% {background-image: url(../images/Glorbals/Pink/Pink_2.png);}
    100% {background-image: url(../images/Glorbals/Pink/Pink_1.png);}

}

@keyframes HotPinkGlorbalIdle {
    
    0% {background-image: url(../images/Glorbals/HotPink/HotPink_1.png);}
    50% {background-image: url(../images/Glorbals/HotPink/HotPink_2.png);}
    100% {background-image: url(../images/Glorbals/HotPink/HotPink_1.png);}

}

@keyframes GreenGlorbalIdle {
    
    0% {background-image: url(../images/Glorbals/Green/Green_1.png);}
    25% {background-image: url(../images/Glorbals/Green/Green_2.png);}
    50% {background-image: url(../images/Glorbals/Green/Green_1.png);}
    75% {background-image: url(../images/Glorbals/Green/Green_3.png);}
    100% {background-image: url(../images/Glorbals/Green/Green_1.png);}

}

/* CSS */

/* General */

*{
    box-sizing: border-box;
    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    max-height: 100%;
}

body{

    margin: auto;
    max-width: 50%;

}

hr,.hero-container,img,a,section,main,h1,h2,h3,h4,h5,div,video,figure{

    transition: color .5s,border .5s,background-color .5s;

}

main{

    background-color: var(--main-color,white);
   
    display: grid;

    grid-template-rows: repeat(auto-fit,minmax(150px,1fr));

    gap: 10px;

}

img,video{
    
    max-width: 100%;
    height: auto;

}

h1{
    font-size: var(--h1,1em);
}
h2{
    font-size: var(--h2,1em);
}
h3{
    font-size: var(--h3,1em);
}
h4{
    font-size: var(--h4,1em);
}
h5,a,button,p,address{
    font-size: var(--h5,1em);
}

/* Header */

nav > a{

    transition: border .25s, background-color .5s,transform .3s;

    text-decoration: none;

    color: var(--default-text-color,black);

    padding: 10px;

    border-radius: 6px;

    border: 0px rgba(0,0,0,0) solid;

}

nav > a:hover{

    transform: scale(1.1);

    transition: border .25s, background-color .5s,transform .3s;

    background-color: var(--text-box-color,rgba(0,0,0,.25));

    border: 1px var(--secondary-color,rgb(79, 61, 104)) solid;

}

header{

    display: flex;

    justify-content: space-between;
    align-items: center;

    background-color: var(--main-color,white);

    padding-top: 10px;

}

.header-image{

    display: flex;

    align-items: center;

    gap: 10px;

}

.header-image > img{

    max-width: 150px;

}

nav{

    gap: 20px;

    display: flex;
    
    align-items: center;
    justify-content: end;

    width: fit-content;

}

/* Hamburger */

#hamburger-menu{

    display: none;

    width: 45px;
    height: 50px;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0px;

    gap: 5px;

    background:none;
    border: none;

}

#hamburger-menu > div{

    width: 100%;

    height: 6px;

    background-color: var(--secondary-color,rgb(79, 61, 104));

    border-radius: 25px;

}

/* Hero */

.hero-container{

    width: 100%;

    background-image: url(../images/glorbalPattern.png);
    background-position: center;
    
    box-shadow: inset 0px 0px 10px 10px var(--main-color);
    
    background-color: var(--secondary-color,rgb(79, 61, 104));

    display: flex;
    align-items: center;
    justify-content: center;

    height: 500px;

}

.hero-container > h2{

    color: var(--hero-text-color,black);

    text-align: center;

    text-shadow: rgba(0,0,0,.75) 0px 3px;

    font-size: var(--h1,1em);

}

/* About Me */

.about-me-section{

    display: grid;

    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,minmax(150px,auto));

    gap: 10px;

}

.about-me-section > img{

    display: block;

    grid-column: 1/6;

    grid-row: 1/3;

}

.about-me-section > img,.image-gallery-section > img,.about-me-section > p{

    border: 2px var(--secondary-color,rgb(79, 61, 104)) solid;

    background-color: var(--text-box-color,rgba(0,0,0,.25));

}

.about-me-section > p{

    grid-column: 6/13;

    text-indent: 2em;

    line-height: 1.5em;

    padding: 10px;

    height: 100%;

}

.block-detail{

    grid-column: 6/13;

    background-color: var(--secondary-color,rgb(79, 61, 104));

    height: 100%;

}

/* Resume */

.resume-container{

    display: flex;
    flex-direction: column;

}

.resume-container > section > h3,.resume-container > section > h4,.resume-container > section > p{

    padding: 10px;

}

.resume-container > section > h3{

    background-color: var(--text-box-color,rgba(0,0,0,.25));

    border: 2px var(--secondary-color,rgb(79, 61, 104)) solid;

    border-radius: 8px;

}

.resume-container > section > h4{

    border: 1.5px var(--secondary-color,rgb(79, 61, 104)) solid;

    border-radius: 25px;

    width: fit-content;

}

.resume-container > section{

    display: flex;
    flex-direction: column;

    gap: 5px;

    background-color: var(--text-box-color,rgba(0,0,0,.25));

    padding: 10px;

    border: 2px var(--secondary-color,rgb(79, 61, 104)) solid;

    transition: border .5s;

}

.qualifications-lists{

    display: flex;

    width: 100%;

    align-items: center;
    justify-content: space-evenly;

    padding: 20px;

}

.qualifications-lists > ul{

    list-style: none;

    padding: 0px;

    gap: 20px;

    display: flex;
    flex-direction: column;

}

.qualifications-lists > ul > li{

    font-size: var(--h5,1em);

    padding: 5px;

    background-color: var(--text-box-color,rgba(0,0,0,.25));

    text-align: center;

    border-radius: 10px;

}

.resume-container > hr{

    margin: 0px;

}

.resume-download{

    margin: auto;

    padding: 10px;

    background-color: var(--text-box-color,rgba(0,0,0,.25));

    border: 2px var(--secondary-color,rgb(79, 61, 104)) solid;

    border-radius: 8px;

    color: var(--default-text-color,black);

    text-decoration: none;

    width: fit-content;

    transition: transform .5s, border .5s;

}

.resume-download:hover{

    transform: scale(1.05);
    transition: transform .5s, border .1s;

    border: 4px var(--secondary-color,rgb(79, 61, 104)) solid;

}

.email-anchorTag{

    text-decoration: none;

    color: var(--default-text-color,black);

    font-size: var(--base-size,1em);

    padding: 10px;

    background-color: var(--text-box-color,rgba(0,0,0,.25));

    transition: transform .5s, border .5s;

    border: var(--secondary-color,rgb(79, 61, 104)) 2px solid;

    width: fit-content;

    border-radius: 45px;

}

.email-anchorTag:hover{

    transition: transform .5s;

    transform: scale(1.05);

}

/* Image Gallery */

#imageGallery-currentImagePosition{

    margin: auto;

    padding: 5px;

    width: fit-content;
    height: 40px;

    display: flex;
    gap: 5px;

    background-color: var(--text-box-color,rgba(0,0,0,.25));

    border: 2px solid var(--secondary-color,rgb(79, 61, 104));

    align-items: center;

    justify-content: center;

}

.imageGalleryPositionSlot{

    width: 20px;
    height: 20px;
    border-radius: 100%;

    background-color: rgba(0, 0, 0, .1);

    transition: background-color .2s;

}

.image-gallery-container{

    display: flex;
    flex-direction: column;

    gap: 10px;

}

#imageGallery-VideoDisplay{

    display: none;

    border: 2px solid var(--secondary-color,rgb(79, 61, 104));

    margin: auto;

}

.image-gallery-container > img{

    max-width: 800px;

    border: 2px solid var(--secondary-color,rgb(79, 61, 104));

    margin: auto;

}

.image-gallery-container > section{

    display: flex;
    flex-direction: column;

    gap: 10px;

    background-color: var(--text-box-color,rgba(0,0,0,.25));

    padding: 10px;

    border: 2px solid var(--secondary-color,rgb(79, 61, 104));

}

.image-gallery-container > section > h3,.image-gallery-container > section > p{

    padding: 10px;

}

.image-gallery-container > section > h3{

    border: 2px solid var(--secondary-color,rgb(79, 61, 104));

    border-radius: 8px;

}

.image-gallery-buttons{

    margin: auto;

    display: flex;

    gap: 10px;

    align-items: center;
    justify-content: center;

    padding: 10px;

    background-color: var(--text-box-color,rgba(0,0,0,.25));

    border: 2px solid var(--secondary-color,rgb(79, 61, 104));

    width: fit-content;

}

.image-gallery-buttons > button{

    width: 35px;
    height: 35px;

    border-radius: 6px;

    font-weight: bold;

    background-color: var(--secondary-color,rgb(79, 61, 104));

    color: var(--hero-text-color);

    border: none;

    transition: background-color .25s, color .25s;

    border-bottom: var(--default-text-color,black) 2px solid;

    user-select: none;

}

.image-gallery-buttons > button:hover{

    background-color: var(--button-hover-color,rgba(0,0,0,.25));
    color: var(--default-text-color,black);

    transition: background-color .25s, color .25s;

}

#imageGallery-ImageDisplay{

    max-width: 50%;
    width: 50%;

}

#imageGallery-VideoDisplay{

    max-width: 100%;
    width: 100%;

}

/* Fun Facts */

.facts-container{

    display: flex;
    flex-direction: column;
    gap: 10px;

    margin: auto;

}

.facts-container > figure{

    display: flex;
    align-items: center;

    gap: 10px;

    border: 4px var(--secondary-color,rgb(79, 61, 104)) solid;

    background-color: var(--text-box-color,rgba(0,0,0,.25));
    
    padding: 10px;
    
}

.facts-container > figure > p{

    text-align: center;
    width: 100%;

    font-size: var(--h5,1em);
    font-weight: normal;

    padding: 10px;

    border-radius: 16px;

    background-color: var(--text-box-color,rgba(0,0,0,.25));

}

.facts-container > figure:nth-child(even){

    flex-direction: row-reverse;

}

.facts-container > figure > img{

    max-width: 150px;

    border-radius: 15px;

}

/* Footer */

footer{

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

footer > p{

    text-align: center;
    font-size: var(--h5,1em);

}

footer > hr:last-child{

    margin-bottom: 10px;

}

/* Misc */

hr{

    height: 8px;
    width: 100%;

    border: none;

    background-color: var(--secondary-color,rgb(79, 61, 104));

    margin-top: 10px;
    margin-bottom: 10px;

}

#clickableImage{

    transition: transform .2s ease-in-out;

}

.glorbal{

    position: fixed;
    width: 100px;
    height: 100px;
    user-select: none;
    background-size: 100px 100px;

}

.glorbalPop{

    position: fixed;

    height: 100px;
    width: 100px;
    border-radius: 100%;
    pointer-events: none;
    user-select: none;

    animation: GlorbalShockwave .5s ease-out forwards;

}

.achievement{

    display: flex;
    align-items: center;

    z-index: 100;

    padding: 10px;
    margin: 10px;
    gap: 10px;

    border-radius: 4px;

    position: fixed;
    bottom: 0px;
    right: 0px;

    width: fit-content;

    animation: NotificationFadeIn .5s ease-in-out forwards,NotificationFadeOut 6s ease-in-out forwards;

}

.achievement-image{

    max-width: 100px;
    border-radius: 10px;

}

.achievement-image,.achievement,.facts-container > figure > img{

    box-shadow: 0px 3px 8px -3px rgba(0,0,0,.25);

}

/* Mobile Break Point 1200px */

@media screen and (max-width:1200px) {

    body{

        max-width: 80%;

    }


}

/* Mobile Break Point 576px */

@media screen and (max-width:576px) {
    
    /* General */

    body{

        max-width: 100%;

        padding: 10px;

    }

    h1{
        font-size: var(--mobile-h1,1em);
    }
    h2{
        font-size: var(--mobile-h2,1em);
    }
    h3{
        font-size: var(--mobile-h3,1em);
    }
    h4{
        font-size: var(--mobile-h4,1em);
    }
    h5,a,button,p,address{
        font-size: var(--mobile-h5,1em);
    }

    /* Header */

    header{

        padding: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .header-image{

        justify-content: space-between;

        width: 100%;

    }

    nav{

        display: none;

        flex-direction: column;
        width: 100%;

        gap: 0px;
        justify-content: start;

        padding-top: 10px;

    }

    nav > a{

        width: 100%;

        border: none;

    }

    nav > a:hover{

        transform: scale(1);

        border: none;

        transition: background-color .5s;

        background-color: var(--text-box-color,rgba(0,0,0,.25));

    }

    .header-image > img{

        max-width: 100px;

    }

    /* Hamburger */

    #hamburger-menu{

        display: flex;
        
    }

    /* Image Gallery */

    .image-gallery-buttons{

        width: 100%;

    }

    .image-gallery-buttons > button{

        width: 100%;
        height: 80px;

        font-size: var(--mobile-h1,1em);

    }

    .image-gallery-container > section > h3{

        text-align: center;

    }

    #imageGallery-ImageDisplay,#imageGallery-VideoDisplay{

        max-width: 100%;
        width: 100%;
    
    }

    /* Hero */

    .hero-container{

        height: 150px;
        background-size: 300px 300px;

        box-shadow: inset 0px 0px 5px 5px var(--main-color,white);

    }

    /* Resume */

    .resume-download{

        width: 100%;

        text-align: center;

    }

    .resume-download:hover{

        transform: none;

        border: 2px var(--secondary-color,rgb(79, 61, 104)) solid;

    }

    .resume-container > section > h3{

        text-align: center;

    }

    .resume-container > section > h3,.resume-container > section > h4{

        width: 100%;

    }

    /* About Me */

    .about-me-section{

        display: flex;
        flex-direction: column;

        gap: 10px;

    }

    .block-detail{

        display: none;

    }

}